<h1>
    Cadastrar Fornecedor
</h1>


<div class="form-group">
    <label for="razaosocial">Razão Social</label>
    <input type="text" name="razaosocial" class="form-control" ng-model="razaosocial" />
</div>
<div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input type="number" name="cnpj" class="form-control" ng-model="cnpj" />
</div>
<div>
    <label for="descricao">Descrição </label>
    <textarea name="descricao" class="form-control" ng-model="descricao"></textarea>
</div>
<legend>Serviços Prestados</legend>
<div class="form-group mt-3">
    <div class="custom-control custom-checkbox" ng-repeat="servico in servicos">
        <input type="checkbox" class="custom-control-input" id="{{servico.IdServico}}" ng-checked="checkedService.indexOf(servico) != -1" ng-click="toggleService(servico)" />
        <label for="{{servico.IdServico}}" class="custom-control-label">{{servico.Nome}}</label>
    </div>
</div>

<button class="btn btn-success mt-4" ng-click="CadastrarFornecedor()">Cadastrar</button>