<div class="row">
    <div class="col-12 mb-3">
        <button ui-sref="shortener.cadastrar" class="btn btn-primary float-right">+</button>
    </div>
</div>
<div class="row mb-3">
    <div class="input-group col-10">
        <input type="text" ng-model="inputsearch" class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-success" ng-click="pesquisar(inputsearch)" type="button">Pesquisar</button>
        </span>
    </div>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="row">Nome</th>
            <th scope="row">Url Encurtada</th>
            <th scope="row">Redirecionamento</th>
            <th scope="row">N de clicks</th>
            <th scope="row">Estado</th>
            <th scope="row">Functions</th>
        </tr>
    </thead>
    <tbody dir-paginate="x in shorteners | itemsPerPage:25" total-items="totalUrls" current-page="pagination.current">
        <tr>
            <td>
                {{x.Nome}}
            </td>
            <td>
                <a href="{{[x.Domain]+[x.Guid]}}" target="_blank">{{[x.Domain]+[x.Guid]}}</a>
            </td>
            <td>
                {{x.UrlToRedirect | limitTo:30}}
            </td>
            <td>
                {{x.Clicks}}
            </td>
            <td>
                <button ng-click="AlterarStatus(x.Id)" id="btn{{x.Id}}" class="d-block col-12" ng-class="{1 : 'btn-success btn', 0:'btn-warning btn'}[x.Status]">{{StatusLink(x.Status)}}</button>
            </td>
            <td style="display:block">
                <a ui-sref="shortener.edit({UrlId:{{x.Id}}})" class="btn btn-primary d-block">Editar</a>
                <button ng-click="Confirmacao(x.Id, x.Nome)" class="btn btn-danger d-block col-12">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls template-url="Templates/Utils/dirPagination.html" max-size="8" direction-links="true" on-page-change="pageChaged(newPageNumber,inputsearch)" boundary-links="true"></dir-pagination-controls>

<div class="modal" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tem certeza?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir {{delete.nome}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="Delete(delete.id)" class="btn btn-primary">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nao</button>
            </div>
        </div>
    </div>
</div>